<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">    <!-- 콘솔에다 출력하는 Appender를 쓰겠다. -->
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">          <!-- 콘솔에 어떻게 출력할래?? -->
			<param name="ConversionPattern" value="%-5p: %c.%M() - %m%n" />     <!-- 내가 원하는대로 출력하고싶으면 "%-5" <-다섯자리를 확보를 해서 좌측정렬로 나오게해라, p는 loggerlevel출력, %c <-클래스의전체이름 출력, %m <-메세지, %n <-개행해라 -->
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.mycompany.myapp">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
